{% extends "base.html" %}

{% block content %}

<section id="registration-info" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Информация о регистрации</h2>
        <p>Для регистрации на сайте, нажмите кнопку «Вход» в верхнем правом углу. Перейдите в раздел регистрации и заполните форму. После регистрации, Вам надо будет подтвердить почту. Чтобы подтвердить почту, надо перейти по ссылке в письме, отправленном на Вашу почту.</p>
    </div>
</section>

<section id="task-types" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4">Типы заданий на турнире</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>Задания с выбором ответа</h3>
                <p>Классическое задание, встречаемое в большинстве тестов.</p>
            </div>
            <div class="col-md-6">
                <h3>Задания с выделением текста</h3>
                <p>Вам будет предоставлен текст, а также условие. Вам надо будет найти в тексте информацию, удовлетворяющую поставленное условие.</p>
                <p>Перед завершением задания Вам будет продемонстрирован ответ, отправленный на обработку. Если в поле ответа будут несоответствия с тем, что вы выделяли, Вы сможете изменить содержимое.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h3>Задание с развернутым ответом</h3>
                <p>Вам надо будет письменно ответить на поставленный вопрос. Ответы на эти задания обрабатываются модераторами турнира.</p>
            </div>
        </div>
    </div>
</section>

<section id="tournament-rules" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Правила турнира</h2>
        <ul>
            <li>Запрещено использовать сторонние источники информации без разрешения организаторов или, если это не предусмотрено условием задания.</li>
            <li>Запрещено пользоваться или оказывать помощь другим участникам в ходе выполнения заданий.</li>
            <li>Допускается использование вспомогательных инструментов (таких как: калькулятор, экономические модели, онлайн-ресурсы и так далее), если об этом написано в информации о турнире.</li>
        </ul>
    </div>
</section>

<section id="scoring" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4">Оценивание</h2>
        <ul>
            <li>В случае равного количества баллов победителем станет участник, завершивший тест быстрее.</li>
            <li>Результаты будут подсчитаны автоматически после окончания теста.</li>
        </ul>
    </div>
</section>

<section id="safety-rules" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Правила безопасности</h2>
        <ul>
            <li>Все персональные данные участников будут защищены в соответствии с законодательством.</li>
            <li>За попытки мошенничества участник будет дисквалифицирован.</li>
        </ul>
    </div>
</section>

<section id="feedback-rules" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4">Правила обратной связи</h2>
        <ul>
            <li>Участники могут обращаться к организаторам с вопросами до начала турнира.</li>
            <li>После турнира будет предоставлена таблица лидеров с результатами участников.</li>
        </ul>
    </div>
</section>

<!-- Подключение Bootstrap JS и Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>

{% endblock %}